@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Just+Me+Again+Down+Here&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Just Me Again Down Here", cursive;
}

html,
body,
#root {
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
